/* IE 8 custom alert */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.gridList md-grid-list { margin: 8px; }

/* Grid list colors */
.gridList .gray { background: #f5f5f5; }
.gridList .green { background: #b9f6ca; }
.gridList .yellow { background: #ffff8d; }
.gridList .blue { background: #84ffff; }
.gridList .purple { background: #b388ff; }
.gridList .red { background: #ff8a80; }

.gridList md-grid-tile { transition: all 400ms ease-out 50ms; }

/* move the switch to the left */
figure > md-grid-tile-footer { flex-direction: row-reverse !important; }
